<h1>New Page</h1>
<a href="/page">back</a>
<br>
<form action="/page" method="POST">
  <input type="text" name="post[title]" placeholder="title">
  <input type="textarea" name="post[body]" placeholder="body">
  <input type='submit'>
</form>
